<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/app.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Pathway+Gothic+One&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <title>Raxxla</title>
  </head>
  <body>
	   <nav class="navbar navbar-expand-lg fixed-top">
		   <a class="brand" href="/"><img src="https://i.ibb.co/DpqZs9g/Raxxlas.jpg" /></a>
		  <a class="navbar-brand" href="/index"><span id="navbar-brand"><strong><i class="fab fa-squarespace"></i> Raxxla</strong></span></a>
		   <div class="menu-btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<div class="menu-btn__burger"></div>
		  </div>

		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			  <li class="nav-item active">
				<a class="nav-link" href="#"><i class="fas fa-user-astronaut"></i> Squad</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/Gallery"><i class="far fa-images"></i> Gallery</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/Gallery/new"><i class="fas fa-space-shuttle"></i> Fleet Builds</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			  </li>
			</ul>
		  </div>
		</nav>
