<%- include("partials/header.ejs") %>

	<div class="jumbotron">
	  <h1 class="display-4">Raxxla</h1>
	  <p class="lead">This is Raxxla Squadron official page.</p>
	  <hr class="my-1">
<!-- 	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
	</div>

		<div class="row" id="box">
			<div class="col-lg-6">
				<div id="headerBox1">
					<p>Squad Members</p>
				</div>
				<div class="member" id="firstBox">
					<div class=member-header id="cmdrName" ><p>CMDR KHMANASEER</p>
						<div id="member-description" class="row">
							<div class="col-lg-4">
								<img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2FCMDRs%2Fkhmanaseer.jpg?alt=media&token=60ee5fd2-7a07-4c01-b97d-c1e83adbe1bb" style="width:200px">
							</div>
							<div class="col-lg-8">
								<p >Khmanaseerius Decimus Meridius, Commander of Raxxla Armies, General of Anti-Xeno Thargoid Force, protector of human Realms and loyal to the true Emperor Marcus Aurelius</p>
							</div>
						</div>
					</div>

					<div class=member-header id="cmdrName" ><p>CMDR FILTHYMICK</p>
						<div id="member-description" class="row">
							<div class="col-lg-4">
								<img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2FCMDRs%2Fmick.jpg?alt=media&token=50e2af68-40cf-4acb-a434-c422f526d030">
							</div>
							<div class="col-lg-8">
								<p >Major methamphetamine distributor in the vast space who uses a chain of successful fast food restaurants as fronts for a vast drug operation, he is also a nice person</p>
							</div>
						</div>
					</div>
				
				
					<div class=member-header id="cmdrName" ><p>CMDR DAASUPAACOOKER</p>
						<div id="member-description" class="row">
							<div class="col-lg-4">
								<img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2FCMDRs%2Fhippy.jpg?alt=media&token=f2ada2aa-fb22-4e1b-9432-818141ba6492">
							</div>
							<div class="col-lg-8">
								<p >The most experiened pilot in the galaxy after cmdr KHMANASEER, Operation manager at Trumps Organization, Bussiness developer for residential real estate, hotels, and golf courses in various space stations,<br>
								got severly injured in the great Thargoid war and managed to escape after locking their systems down </p>
							</div>
						</div>
					</div>
					
					<div class=member-header id="cmdrName" ><p>CMDR DOOMFACEKILLA</p>
						<div id="member-description" class="row">
							<div class="col-lg-4">
								<img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2FCMDRs%2FlikeMike.jpg?alt=media&token=408647eb-5c87-4796-ad64-b2339d488255">
							</div>
							<div class="col-lg-8">
								<p>Ex-National Geographic Photographer, one of Raxxla greatest leaders, with amazing background music,
								 he was targeted more than once by Thargoids for his music. he is literally always online </p>
							</div>
						</div>
					</div>

					<div class=member-header id="cmdrName" ><p>CMDR XzUNDERGRIUNDzX</p>
						<div id="member-description" class="row">
							<div class="col-lg-4">
								<img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2FCMDRs%2FRocky.jpg?alt=media&token=588994be-4928-4454-835b-5f1197d7b440">
							</div>
							<div class="col-lg-8">
								<p> A hard worker day & night shifter, likes to hike in space wondering looking for the remnants of Raxxla, moved recently to a new house equiping it with the latest Raxxla defence technology</p>
							</div>
						</div>
					</div>
					
					<div class=member-header id="cmdrName" ><p>CMDR SACRED DAWN</p>
						<div id="member-description" class="row">
							<div class="col-lg-4">
								<img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2FCMDRs%2Fdawn.jpg?alt=media&token=7c20251c-59bf-4ad4-a700-85eca0d8418d">
							</div>
							<div class="col-lg-8">
								<p >A lonely wolf and an anti-ganker who spends most of his time in Shinrarta Dezhra 007ing on other squadrons. always seems happy when he talks </p>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-lg-6">
				<div id="headerBox2">
					<a href="/wSchedule"><p>Weekly Schedule</p></a>
				</div>
				<div class=member-header id="secondBox" ><p>WEEKLY FRIDAY SCHEDULE</p>
					<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
					  <ol class="carousel-indicators">
					    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
					    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
					    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
					    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
					    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
					    <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
					    <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
					  </ol>
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					      <a href="/wSchedule"><img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2FCQC.jpg?alt=media&token=36264cfb-db03-4c5e-8002-878962abf0a2" class="d-block w-100" alt="..."></a>
					      <div class="carousel-caption d-none d-md-block">
					        <h5>Saturday</h5>
					        <p>CQC Combat</p>
					      </div>
					    </div>
					    <div class="carousel-item">
					      <a href="/wSchedule"><img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2FThargoidWar.jpg?alt=media&token=4140468a-af1c-4f2c-8a90-1446347b7dda" class="d-block w-100" alt="..."></a>
					      <div class="carousel-caption d-none d-md-block">
					        <h5>Sunday</h5>
					        <p>Thargoid Hunting</p>
					      </div>
					    </div>
					    <div class="carousel-item">
							<a href="/wSchedule"><img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2FWeekly%20Schedule%2FGuardians.jpeg?alt=media&token=e782d958-acb6-4668-bdf7-c56933ef8b3d" class="d-block w-100" alt="..."></a>
					      <div class="carousel-caption d-none d-md-block">
					        <h5>Monday</h5>
					        <p>Casual</p>
					      </div>
					    </div>
					  <div class="carousel-item">
						  <a href="/wSchedule"><img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2Fpvp.jpg?alt=media&token=1ec3102a-baaa-49f0-8a1b-6cbeda0af206" class="d-block w-100" alt="..."></a>
					      <div class="carousel-caption d-none d-md-block">
					        <h5>Tuesday</h5>
					        <p>AntiGanking</p>
					      </div>
					    </div>
					  <div class="carousel-item">
						  <a href="/wSchedule"><img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2Fmining.jpeg?alt=media&token=35a1cce5-c3f3-4f23-90bd-cd8ecba6406a" class="d-block w-100" alt="..."></a>
					      
					      <div class="carousel-caption d-none d-md-block">
					        <h5>Wednesday</h5>
					        <p>Mining</p>
					      </div>
					    </div>
					  <div class="carousel-item">
						  <a href="/wSchedule"><img src="https://i.ibb.co/4T39dqH/conflict-Zone.jpg" class="d-block w-100" alt="..."></a>
					      <div class="carousel-caption d-none d-md-block">
					        <h5>Thursday</h5>
					        <p>Background Simulation</p>
					      </div>
					    </div>
					  <div class="carousel-item">
						  <a href="/wSchedule"><img src="https://firebasestorage.googleapis.com/v0/b/raxxla-73e71.appspot.com/o/Raxxla%2FfleetCarrier.jpg?alt=media&token=86571d68-af24-42f4-ac9a-eddcdaec4a3c" class="d-block w-100" alt="..."></a>
					      <div class="carousel-caption d-none d-md-block">
					        <h5>Friday</h5>
					        <p>Hand your money to CMDR Khmanaseer</p>
					      </div>
					    </div>
					  </div>
					  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
				</div>
			</div>
		</div>
	

			<div class="row" id="News">
				<div class="col-lg-6" id="RaxxlaSquadron">
					<div>
						<h3>
							Raxxla Squadron
						</h3>	
					</div>
					<div style="background:#393b3b; background-size:cover;">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
						</p>
							
					</div>
					
				</div>
				<div class="col-lg-5" id="weeklyMission">
					<div>
						<h3>
							Weekly Mission
						</h3>	
					</div>
					
					<div style="background:#393b3b">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>	
					</div>
					
				</div>
			</div>





		<div class="container" id="RaxxlaShips">
			<h2 style="margin-bottom:20px">Raxxla Ships</h2>
			<hsr>
			<div class="row d-flex justify-content-center" style="padding-left:30px;">
				<div class="col-lg-4 shipCards">
					<div class="card" style="width: 18rem;">
					  <img src="https://i.ibb.co/nr13804/Type10.jpg" class="card-img-top" alt="...">
					 <div class="card-body">
					    <h5 class="card-title">Type 10 Defender</h5>
					    <p class="card-text">
					    	<ul>
					    		<li>Huge Hardpoint: 2</li>
					    		<li>Large Hardpoint: 3</li>
					    		<li>Medium Hardpoint: 4</li>
					    		<li>Small Hardpoint: 0</li>
					    	</ul>
					    </p>
					    <a href="#" class="btn btn-secondary">Check Builds from here!!</a>
					  </div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card shipCards" style="width: 18rem;">
					  <img src="https://i.ibb.co/tLXHx1d/Corvette.jpg" class="card-img-top" alt="...">
					  <div class="card-body">
					    <h5 class="card-title">Corvette</h5>
					    <p class="card-text">
					    	<ul>
					    		<li>Huge Hardpoint: 2</li>
					    		<li>Large Hardpoint: 2</li>
					    		<li>Medium Hardpoint: 1</li>
					    		<li>Small Hardpoint: 2</li>
					    	</ul>
					    </p>
					    <a href="#" class="btn btn-secondary">Check Builds from here!!</a>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 shipCards">
					<div class="card" style="width: 18rem;">
					  <img src="https://i.ibb.co/pf1kDFp/cutter.jpg" class="card-img-top" alt="...">
					  <div class="card-body">
					    <h5 class="card-title">Imperial Cutter</h5>
					    <p class="card-text">
					    	<ul>
					    		<li>Huge Hardpoint: 2</li>
					    		<li>Large Hardpoint: 2</li>
					    		<li>Medium Hardpoint: 1</li>
					    		<li>Small Hardpoint: 2</li>
					    	</ul>
					    </p>
					    <a href="#" class="btn btn-secondary">Check Builds from here!!</a>
					  </div>
					</div>
				</div>
			</div>
			<div class="row" style="padding-left:30px; margin-top:0px">
				<div class="col-lg-2"></div>
				<div class="col-lg-4 justify-content-center shipCards">
					<div class="card" style="width: 18rem;">
					  <img src="https://i.ibb.co/V3T7pDG/Anaconda2.jpg" class="card-img-top" alt="...">
					  <div class="card-body">
					    <h5 class="card-title">Anaconda</h5>
					    <p class="card-text">
					    	<ul>
					    		<li>Huge Hardpoint: 1</li>
					    		<li>Large Hardpoint: 3</li>
					    		<li>Medium Hardpoint: 2</li>
					    		<li>Small Hardpoint: 2</li>
					    	</ul>
					    </p>
					    <a href="#" class="btn btn-secondary">Check Builds from here!!</a>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 shipCards">
					<div class="card" style="width: 18rem;">
					  <img src="https://i.ibb.co/T8M23HH/Fdl.jpg" class="card-img-top" alt="...">
					  <div class="card-body">
					    <h5 class="card-title">Fer De Lance</h5>
					    <p class="card-text">
					    	<ul>
					    		<li>Huge Hardpoint: 2</li>
					    		<li>Large Hardpoint: 2</li>
					    		<li>Medium Hardpoint: 1</li>
					    		<li>Small Hardpoint: 2</li>
					    	</ul>
					    </p>
					    <a href="#" class="btn btn-secondary">Check Builds from here!!</a>
					  </div>
					</div>
				</div>
				<div class=col-lg-2></div>
			</div>	
		</div>
		<div id="glitchy-container">
			<div class="justify-content-center m-auto align-items-center text-center py-auto" style="text-align: center;">
				<h2 style="text-center; font-size:3.5em; color:#ff8800;margin-top:300px">
					Thargoids Base
				</h2>
			</div>
		</div>
		
    <%- include("partials/footer.ejs") %>
